body {
    font-family: 'Montserrat', sans-serif;
  }
  .wrapper {
    width: 1280px;
    margin: 0 auto;
  }
  #heroWrapper {
    min-height: 385px;
    background: rgb(51,55,56);
  background: linear-gradient(90deg, rgba(51,55,56,1) 0%, rgba(78,82,82,1) 100%);
  }
  #heroWrapper h1 {
    color: #fff;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #heroWrapper p {
    color: #fff;
    font-size: 25px;
    line-height: 27px;
    margin-bottom: .5rem;
  }
  #heroWrapper p a,
  #heroWrapper p a:hover {
    color: #fff;
  }
  #heroWrapper .slide {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 65px;
    display: none;
    height: 154px;
  }
  #heroWrapper .slide.shown {
    display: block;
  }
  #timeLine {
    border-bottom: 2.5px solid #fff;
    padding: 10px 0 0;
    margin-top: 2px;
  }
  #timeLine ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto -78px;
    display: flex;
    flex-direction: row;
    color: #fff;
    max-width: 1280px;
  }
  #timeLine li {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  }
  #timeLine li:nth-child(5) span.icon {
    margin-top: -3px;
  }
  #timeLine li:nth-child(9) .icon {
    position: relative;
  }
  #timeLine li:nth-child(9) .icon svg {
    position: absolute;
    left: -8px;
    top: 18px;
  }
  #timeLine li span:not(.dot) {
    opacity: .6;
    height: 61px;
  }
  
  #timeLine li span:nth-child(1) {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  #timeLine li span:nth-child(3) {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .dot {
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background-color: #fff;
    border: 2px solid #fff;
    margin: 0 auto;
    display: block;
  }
  .flag {
    cursor: default;
  }
  #timeLine li svg {
    opacity: 0;
  }
  #timeLine li.active span,
  #timeLine li:hover span,
  #timeLine li:nth-child(9) span {
    opacity: 1;
  }
  #timeLine li.active span svg,
  #timeLine li:hover span svg,
  #timeLine li:nth-child(9) span svg {
    opacity: 1;
  }
  li:hover .dot,
  .active .dot {
    background-color: #c20e1a;
  }